!
feature bgp
router bgp {{ bgp_asn }}
  router-id {{ loopback101_ip_address }}
  address-family ipv4 unicanetwork
{% for prefix in {{ bgp_advertise }} %}
    network {{ prefix }}
{% endfor %}
  neighbor {{ bgp_peer_ip }}
    remote-as {{ bgp_asn }}
    description configured by ansible
    address-family ipv4 unicast
    
